<% @order.available_payment_methods.each do |method| %>
  <% next unless method.kind_of?(Spree::Gateway::BraintreeVzeroBase) %>

  <% if method.is_a?(Spree::Gateway::BraintreeVzeroPaypalExpress) %>
         <span id="paypal-submit", class="btn btn-lg btn-success primary braintree-submit", style="display: none;" method_id="<%= method.id %>">
      <%= Spree.t(:save_and_continue) %>
    </span>
  <% else %>
    <%= submit_tag Spree.t(submit_label_key), class: 'btn btn-primary text-uppercase font-weight-bold w-100 checkout-content-save-continue-button braintree-submit', style: 'display: none;', method_id: method.id %>
  <% end %>
<% end %>
